.nav {
  height: 100%;
  width: max-content;

  &__link {
    padding: 10px 15px;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    color: white;

    &:hover {
      color: wheat;
    }
  }
}
